@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Poppins:wght@500;600&display=swap');
*{
    padding: 0;
    margin: 0;
}
.identifyP{
    font-style: italic;

    border:  10px;
    border-radius: 25%;
    border-color: pink;
    border-style: solid;
}
body{
  background: linear-gradient(pink 0%,rgb(235, 140, 235) 40%,rgb(243, 93, 93) 100%)
  
}
#camera,#result{

   
    color: black;
    height: 500px;
    width: 600px ;
    border-width: 5px;
    border-color: red;
    border-style:solid;
    

}
p span{
    
    background:  chartreuse;
    border-width: 2px;
    border-style: solid;
    border-color: red;
    border-radius: 25%;

}
form:hover{
    font-size: 30px;
    cursor: pointer;
    background-color:rgb(247, 173, 243);
    transition: 0.6s
}
.p  {
    font-size: 20px;
    
}
.p:hover{
    font-size: 40px;
color: red;
transition: 0.6s;

}
